---
dataDir: /var/lib/microshift
roles:
  - controlplane
  - node
nodeName: "{{ system_hostname }}"
cluster:
  clusterCIDR: "10.42.0.0/16"
  serviceCIDR: "10.43.0.0/16"
  dns: "10.43.0.10"
  domain: cluster.local
