variant: fcos
version: 1.4.0
passwd:
  users:
    - name: core
      ssh_authorized_keys:
        - {{ ssh_pub_key }}
storage:
  trees:
    - local: etc/yum.repos.d 
      path: /etc/yum.repos.d
  files:
    - path: /etc/hostname
      mode: 0644
      contents:
        inline: {{ worker_hostname }}
