variant: fcos
version: 1.4.0
passwd:
  users:
    - name: core
      ssh_authorized_keys:
        - {{ ssh_pub_key }}
      groups:
        - wheel
storage:
  files:
    - path: /etc/hostname
      overwrite: true
      mode: 0644
      contents:
        inline: {{ worker_hostname }}
    - path: /etc/yum.repos.d/group_redhat-et-microshift-fedora-35.repo
      overwrite: true
      mode: 0644
      contents:
        local: etc/yum.repos.d/group_redhat-et-microshift-fedora-35.repo
    - path: /etc/yum.repos.d/fedora-updates-modular.repo
      overwrite: true
      mode: 0644
      contents:
        local: etc/yum.repos.d/fedora-updates-modular.repo
    - path: /etc/yum.repos.d/fedora-modular.repo
      overwrite: true
      mode: 0644
      contents:
        local: etc/yum.repos.d/fedora-modular.repo
